
header{
    text-align: center;
}

body{
    background-color: #ee4131;
}

.filter{
    width: 100px;
    align-content: center;
}

.poke-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    align-content: center;  
}

li{
    height: 200px;
    min-width: 20vw;
    border: 1px solid white;
    margin: 5vw 5vh;
}

footer{
    text-align: center;
}

@media (min-width: 700px){
    #pokeContent {
        display: flex;
        flex-direction: column;
    }
}