header{
    text-align: center;
}

body{
    background-color: #ee4131;
}

.filter{
    width: 100px;
    align-content: center;
}

ul{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
    list-style-type: none;
    grid-gap: 30px;    
}

li{
    height: 300px;
    width: 300px;
    border: 1px solid white;
}

footer{
    text-align: center;
}

@media (min-width: 100px){
    .poke-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        align-content: center;
        grid-gap: 30px;
    }
}



